.h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  text-decoration: wavy;
  text-align: center;
  margin-bottom: 20px;
}

.about {
  font-weight: lighter;
  font-style: italic;
  color: black;
  text-align: left;
  margin-right: 300px;
}

.About_Image {
  width: 400px;
  height: 400px;
  margin-left: 100px;
  margin-top: 0 px;
  border-radius: 10px;
  float: left;
}
